.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: relative;
}

.label {
  font-weight: bold;
  display: block;
  margin: 8px;
}

.inputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.inputElement:focus {
  outline: none;
  border: 2px solid #aaa;
  padding: 5px 9px;
}

.invalid, .invalid:focus {
  border-color: red;
  color: red;
}
